.Loading {
  text-align: center;

  .alert {
    position: absolute;
    top: 0;
    width: 96vw;
    margin: 2vw;
  }
}

.Loading-logo {
  height: 30vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .Loading-logo {
    animation: Loading-logo-spin infinite 20s linear;
  }
}

.Loading-header {
  background-color: var(--bs-body-bg);
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: var(--bs-body-color);
}

@keyframes Loading-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
